<div class="container">
    <form (ngSubmit)="onSubmit();" #messageForm="ngForm" >
      <div class="form-group">
        <label for="comment"><p>Name:</p> <input name="inputName" type="text" [(ngModel)]="inputName" class="form-control" required /></label><br>     
        <p>Message:</p><textarea name="message" [(ngModel)]="inputMessage" class="form-control" id="comment" (keydown.enter)="onSubmit();false" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>